# Disable editor configuration for the ClientApp folder, rely on ESLint and Prettier
root = true

[*]
charset = unset
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
