.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as needed */
  z-index: 999; /* Ensure it is behind the overlay but above other content */
  transition: opacity 0.5s ease-in-out;
}

.custom-backdrop.animated-backdrop {
  opacity: 1;
}

/* Define variables for heights */
$default-height: calc(100vh - 150px);
$default-height-half: calc(50vh - 75px);

/* base style */
.trivy-table {
  height: $default-height;
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  /* styles when classB is also present */
  &.trivy-half {
    height: $default-height-half;

    @media (min-width: 576px) {
      height: $default-height;
    }
  }
}
