<div class="trivy-table">
  <p-table #trivyTable
           [columns]="trivyTableColumns"
           [value]="dataDtos!"
           [scrollable]="true"
           scrollHeight="flex"
           [virtualScroll]="true"
           [virtualScrollItemSize]="46"
           [resizableColumns]="true"
           columnResizeMode="expand"
           [reorderableColumns]="true"
           styleClass="p-datatable-sm text-sm"
           [ngStyle]="{'flex-grow': '1', 'display': 'flex', 'flex-direction': 'column'}"
           [tableStyle]="trivyTableOptions!.tableStyle"
           sortMode="multiple"
           [autoLayout]="true"
           [loading]="isLoading"
           [selectionMode]="trivyTableOptions!.tableSelectionMode"
           [(selection)]="selectedDataDtos"
           [exportFilename]="csvFileName"
           (selectionChange)="onSelectionChange($event)"
           [stateKey]="tableStateKey"
           stateStorage="local"
           dataKey="{{ trivyTableOptions!.dataKey }}"
           [expandedRowKeys]="expandedRows">

    <ng-template pTemplate="caption">
      <div>
        <p-button *ngIf="trivyTableOptions!.isRefreshVisible" text
                  [label]="'Refresh' + (trivyTableOptions.isRefreshFiltrable ? '/Filter...' : '')" icon="pi pi-refresh" size="small"
                  (onClick)="onFilterRefresh($event)" />
        <p-button *ngIf="trivyTableOptions!.isClearSelectionVisible" text
                  label="Clear Selected" icon="pi pi-list" size="small"
                  [disabled]="!isTableRowSelected()" (onClick)="onTableClearSelected()" />
        <p-button *ngIf="trivyTableOptions!.dataKey" text
                  label="Collapse All" icon="pi pi-expand" size="small"
                  [disabled]="!isAnyRowExpanded()" (onClick)="onTableCollapseAll()" />
        <p-button *ngIf="trivyTableOptions!.isResetFiltersVisible" text
                  label="Clear Sort/Filters" icon="pi pi-filter" size="small"
                  [disabled]="!isTableFilteredOrSorted()" (onClick)="onClearSortFilters()" />
        <p-button *ngIf="trivyTableOptions!.isExportCsvVisible" text
                  label="Export to CSV" icon="pi pi-file-excel" size="small"
                  (onClick)="csvExportOp.toggle($event)" />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngIf="trivyTableOptions!.dataKey" style="width:50px"></th>
        <th *ngFor="let col of columns" pResizableColumn pReorderableColumn [pSortableColumn]="col.isSortable ? col.field : null" style="{{ col.style }}">
          {{ col.header }}
          <p-sortIcon *ngIf="col.isSortable" field="{{ col.field }}" />
          <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType==='none'" type="text" field="{{ col.field }}" display="menu" />
          <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType==='namespaces'" field="{{ col.field }}" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect [(ngModel)]="filterSelectedActiveNamespaces"
                             [options]="activeNamespaces!"
                             placeholder="Any"
                             (onChange)="filter($event.value)"
                             optionLabel=""
                             [style]="{'width':'300px'}"
                             styleClass="text-sm">
              </p-multiSelect>
              <ng-template let-option pTemplate="item">
                <div [class]="'text-sm'">{{ option }}</div>
              </ng-template>
            </ng-template>
          </p-columnFilter>
          <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType==='severities'" field="{{ col.field }}" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="filter" let-filter="filterCallback">
              <p-multiSelect [(ngModel)]="filterSelectedSeverityIds"
                             [options]="filterSeverityOptions"
                             placeholder="Any"
                             (onChange)="filter($event.value)"
                             optionLabel="name"
                             styleClass="text-sm"
                             [filter]="false"
                             [showToggleAll]="false"
                             [showHeader]="false">
                <ng-template let-severityIds pTemplate="selectedItems">
                  <div>{{ severityHelper.getNames(severityIds, 2) }}</div>
                </ng-template>
                <ng-template let-option pTemplate="item">
                  <div [style]="{'font-size':'14px'}" class="flex align-items-center gap-2">{{ severityHelper.getName(option) }}</div>
                </ng-template>
              </p-multiSelect>

            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" style="height:46px">
        <td *ngIf="trivyTableOptions!.dataKey" style="max-width:50px">
          <p-button type="button" styleClass="p-0" size="small" pRipple [pRowToggler]="rowData"
                    [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        <td *ngFor="let col of columns" style="{{ col.style }}">
          <a *ngIf="col.renderType=='standard'">{{ rowData[col.field] }}</a>
          <a *ngIf="col.renderType=='date'">{{ rowData[col.field] | date: 'yyyy-MM-dd' }}</a>
          <div *ngIf="col.renderType=='imageNameTag'">
            <a>{{ rowData[col.field] }}:{{ rowData[col.extraFields[0]] }}</a>
            <p-tag *ngIf="rowData[col.extraFields[1]]" value="EOSL" [rounded]="true"
                   [style]="{ 'margin-left':'10px', background: severityHelper.getCssColor(1) }" />
          </div>
          <a *ngIf="col.renderType=='link'" href="{{ rowData[col.extraFields[0]] }}" target="_blank">{{ rowData[col.field] }}</a>
          <p-tag *ngIf="col.renderType=='severityBadge'" [rounded]="true" [value]="severityHelper.getName(rowData[col.field])"
                 [style]="{ background: severityHelper.getCssColor(rowData[col.field]) }" />
          <div *ngIf="col.renderType=='severityMultiTags'" style="display: flex; justify-content: space-between">
            <p-tag [value]="rowData[col.field]" [rounded]="true" [style]="{ background: severityHelper.getCssColor(0) }" />
            <p-tag [value]="rowData[col.extraFields[0]]" [rounded]="true" [style]="{ background: severityHelper.getCssColor(1) }" />
            <p-tag [value]="rowData[col.extraFields[1]]" [rounded]="true" [style]="{ background: severityHelper.getCssColor(2) }" />
            <p-tag [value]="rowData[col.extraFields[2]]" [rounded]="true" [style]="{ background: severityHelper.getCssColor(3) }" />
            <p-tag [value]="rowData[col.extraFields[3]]" [rounded]="true" [style]="{ background: severityHelper.getCssColor(4) }" />
          </div>
          <p-tag *ngIf="col.renderType=='eosl' && rowData[col.field]" [value]="'true'" icon="pi pi-exclamation-circle" [rounded]="true"
                 [style]="{ background: severityHelper.getCssColor(1) }" />
          <p-tag *ngIf="col.renderType=='semaphore'" [value]="rowData[col.field]" [rounded]="true"
                 [style]="{ background: semaphoreStatusHelper.getCssColor(rowData[col.field]) }" />
        </td>
      </tr>
    </ng-template>
    <ng-template *ngIf="trivyTableOptions!.dataKey" pTemplate="rowexpansion" let-rowData>
      <tr>
        <td [attr.colspan]="trivyTableColumns.length + 1">
          <div class="pl-3">
            <p-table [value]="[{}]"
                     styleClass="text-sm p-datatable-sm">
              <ng-template *ngIf="trivyExpandTableOptions.isHeaderVisible" pTemplate="header">
                <tr>
                  <th *ngFor="let col of trivyExpandTableOptions.columnsArray" style="{{ trivyExpandTableFunction(rowData, 'row', col).style }}">
                    {{ trivyExpandTableFunction(rowData, 'header', col).value }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body">
                <!--<ng-template *ngFor="let row of trivyExpandTableOptions.rowsArray; index as rowIndex">-->
                <tr *ngFor="let row of trivyExpandTableOptions.rowsArray;">
                  <td *ngFor="let col of trivyExpandTableOptions.columnsArray" style="{{ trivyExpandTableFunction(rowData, 'row', col, row).style }}">
                    <a>{{ trivyExpandTableFunction(rowData, 'row', col, row).value }}</a>
                    <p-button *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).buttonLink"
                              label="{{ trivyExpandTableFunction(rowData, 'row', col, row).buttonLink }}" [text]="true" size="small"
                              (onClick)="onTrivyDetailsTableCallback(rowData)" />
                    <p-tag *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).badge"
                           [rounded]="true" [value]="trivyExpandTableFunction(rowData, 'row', col, row).badge"
                           [style]="{ 'margin-left': '10px', background: severityHelper.getCssColor(1) }" />
                  </td>
                </tr>
                <!--</ng-template>-->
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template *ngIf="trivyTableOptions!.isFooterVisible" pTemplate="summary">
      <div>
        Total <p-tag [rounded]="true" value="{{ trivyTableTotalRecords }}" /> | Filtered <p-tag [rounded]="true" value="{{ trivyTableFilteredRecords }}" />
      </div>
    </ng-template>
  </p-table>

  <p-overlayPanel #csvExportOp [dismissable]="true" (onShow)="onOverlayToogle()" (onHide)="onOverlayToogle()">
    <div style="width: 300px">
      <div class="field">
        <label for="csvFileName" class="text-sm">CSV File Name</label>
        <input pInputText id="csvFileName" [(ngModel)]="csvFileName" 
               class="text-sm w-full">
      </div>
      <div class="grid">
        <div class="col-6">
          <p-button label="Export Filtered"
                    icon="pi pi-filter"
                    size="small"
                    [disabled]="!trivyTable.filteredValue"
                    (onClick)="onExportToCsv('filtered')"
                    [style]="{'width': '100%'}" text />
        </div>
        <div class="col-6">
          <p-button label="Export All"
                    icon="pi pi-align-justify"
                    size="small"
                    (onClick)="onExportToCsv('all')"
                    [style]="{'width': '100%'}" text />
        </div>
        <!--<div class="col">
      <p-button label="Export Selected"
                icon="pi pi-list"
                size="small"
                [disabled]="!isTableRowSelected()"
                (onClick)="trivyTable.exportCSV({ selectionOnly: true })"
                [style]="{'width': '100%'}" />
    </div>-->
      </div>
    </div>
  </p-overlayPanel>

  <p-overlayPanel *ngIf="filterRefreshSeverities"
                  #serverFilterDataOp
                  [dismissable]="true"
                  [showTransitionOptions]="'0.3s ease-in'"
                  [hideTransitionOptions]="'0.3s ease-out'"
                  (onShow)="onOverlayToogle()"
                  (onHide)="onOverlayToogle()">
    <div class="flex-column gap-3 w-15rem">
      <div class="row w-full tex-xs">
        <p-dropdown [options]="activeNamespaces!"
                    [(ngModel)]="filterRefreshActiveNamespace"
                    [checkmark]="true"
                    [showClear]="true"
                    placeholder="Select a Namespace"
                    styleClass="w-full text-sm" />
      </div>
      <hr />

      <div class="row">
        <a>Severities</a>
        <div>
          <div class="flex-column gap-0 mt-2">
            <div *ngFor="let severityDto of severityDtos" class="field-checkbox mb-2 text-sm">
              <p-checkbox [(ngModel)]="filterRefreshSeverities"
                          [label]="severityDto.name"
                          name="group"
                          [value]="severityDto"
                          styleClass="ml-2"/>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <p-button label="Refresh/Filter"
                    icon="pi pi-refresh"
                    size="small"
                    (onClick)="onFilterData()"
                    styleClass="w-full" />
        </div>
      </div>
    </div>
  </p-overlayPanel>
</div>
<div *ngIf="overlayVisible" class="custom-backdrop"></div>
