<p-table #trivyTable
         [columns]="trivyTableColumns"
         [value]="dataDtos!"
         [scrollable]="true"
         scrollHeight="{{ trivyTableOptions!.tableHeight }}"
         [virtualScroll]="true"
         [virtualScrollItemSize]="46"
         [tableStyle]="{ 'font-size': '14px' }"
         [resizableColumns]="true"
         columnResizeMode="expand"
         [reorderableColumns]="true"
         styleClass="p-datatable-sm"
         sortMode="multiple"
         [autoLayout]="true"
         [selectionMode]="trivyTableOptions!.tableSelectionMode"
         [(selection)]="selectedDataDtos"
         [exportFilename]="csvFileName"
         (selectionChange)="onSelectionChange($event)">
  <ng-template pTemplate="caption">
    <div>
      <p-button *ngIf="trivyTableOptions!.isExportCsvVisible" class="m-1 p-1" label="Export to CSV" size="small" (onClick)="csvExportOp.toggle($event)" />
      <p-button *ngIf="trivyTableOptions!.isClearSelectionVisible" class="m-1 p-1" label="Clear Selected" size="small" [disabled]="!isTableRowSelected()" (onClick)="onTableClearSelected()" />
      <p-button *ngIf="trivyTableOptions!.isResetFiltersVisible" class="m-1 p-1" label="Clear Filters" size="small" [disabled]="!trivyTable.filteredValue" (onClick)="trivyTable.clear()" />
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.isSortable ? col.field : null" style="{{ col.style }}">
        {{ col.header }}
        <p-sortIcon *ngIf="col.isSortable" field="{{ col.field }}" />
        <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType==='none'" type="text" field="{{ col.field }}" display="menu" />
        <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType==='namespaces'" field="{{ col.field }}" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="filter" let-filter="filterCallback">
            <p-multiSelect [(ngModel)]="filterActiveNamespaces"
                           [options]="activeNamespaces!"
                           placeholder="Any"
                           (onChange)="filter($event.value)"
                           optionLabel=""
                           [style]="{'font-size':'14px', 'width':'300px'}">
            </p-multiSelect>
            <ng-template let-option pTemplate="item">
              <div [style]="{'font-size':'14px'}">{{ option }}</div>
            </ng-template>
          </ng-template>
        </p-columnFilter>
        <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType==='severities'" field="{{ col.field }}" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
          <ng-template pTemplate="filter" let-filter="filterCallback">
            <p-multiSelect [(ngModel)]="filterSelectedSeverityIds"
                           [options]="filterSeverityOptions"
                           placeholder="Any"
                           (onChange)="filter($event.value)"
                           optionLabel="name"
                           [style]="{'font-size':'14px'}"
                           [filter]="false"
                           [showToggleAll]="false"
                           [showHeader]="false">
              <ng-template let-severityIds pTemplate="selectedItems">
                <div>{{ severityHelper.getNames(severityIds, 2) }}</div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div [style]="{'font-size':'14px'}" class="flex align-items-center gap-2">{{ severityHelper.getName(option) }}</div>
              </ng-template>
            </p-multiSelect>

          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" style="height:46px">
      <td *ngFor="let col of columns" style="{{ col.style }}">
        <a *ngIf="col.renderType=='standard'">{{ rowData[col.field] }}</a>
        <a *ngIf="col.renderType=='imageNameTag'">{{ rowData[col.field] }}:{{ rowData[col.extraFields[0]] }}</a>
        <a *ngIf="col.renderType=='link'" href="{{ rowData[col.extraFields[0]] }}" target="_blank">{{ rowData[col.field] }}</a>
        <p-tag *ngIf="col.renderType=='severityBadge'" [value]="severityHelper.getName(rowData[col.field])" [style]="{ background: severityHelper.getCssColor(rowData[col.field]) }" />
        <div *ngIf="col.renderType=='severityMultiTags'" style="display: flex; justify-content: space-between">
          <p-tag [value]="rowData[col.field]" [style]="{ background: severityHelper.getCssColor(0) }" />
          <p-tag [value]="rowData[col.extraFields[0]]" [style]="{ background: severityHelper.getCssColor(1) }" /> 
          <p-tag [value]="rowData[col.extraFields[1]]" [style]="{ background: severityHelper.getCssColor(2) }" /> 
          <p-tag [value]="rowData[col.extraFields[2]]" [style]="{ background: severityHelper.getCssColor(3) }" /> 
          <p-tag [value]="rowData[col.extraFields[3]]" [style]="{ background: severityHelper.getCssColor(4) }" /> 
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div>
      Total <p-tag value="{{ trivyTableTotalRecords }}" /> | Selected <p-tag value="{{ trivyTableSelectedRecords }}" /> | Filtered <p-tag value="{{ trivyTableFilteredRecords }}" />
    </div>
  </ng-template>
</p-table>

<p-overlayPanel #csvExportOp>
  <div class="flex flex-column gap-3 w-25rem" style="width: 420px">
    <div class="row">
      <div>
        <span style="font-size: 12px; padding-left: 2px;">CSV File Name</span>
      </div>
    </div>
    <div class="row">
      <div>
        <input pInputText style="font-size: 14px; width: 100%; margin-top: 10px; margin-bottom: 10px" [(ngModel)]="csvFileName" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p-button label="Export Filtered"
                  size="small"
                  [disabled]="!trivyTable.filteredValue"
                  (onClick)="trivyTable.exportCSV()"
                  [style]="{'width': '100%'}" />
      </div>
      <div class="col">
        <p-button label="Export All"
                  size="small"
                  (onClick)="trivyTable.exportCSV({ allValues: true })"
                  [style]="{'width': '100%'}" />
      </div>
      <div class="col">
        <p-button label="Export Selected"
                  size="small"
                  [disabled]="!isTableRowSelected()"
                  (onClick)="trivyTable.exportCSV({ selectionOnly: true })"
                  [style]="{'width': '100%'}" />
      </div>
    </div>
  </div>
</p-overlayPanel>
