/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/primeng.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.min.css';

/* Components fixes*/
@import './styles/p-breadcrumb.scss';
@import './styles/p-inputswitch.scss';
@import './styles/p-panel.scss';

/* Others */
.hide-on-small {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }
}

h4.no-margins {
  margin-block-start: 0;
  margin-block-end: 0;
}
