/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css" layer(bootstrap-grid);
/*@import "../node_modules/bootstrap/dist/css/bootstrap-utilities.css" layer(bootstrap-utilities);
@import "../node_modules/bootstrap/dist/css/bootstrap.rtl.css" layer(bootstrap-rtl);*/
@import "../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-quartz.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";

@layer bootstrap-grid, primeng;

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/
