<div class="row">
  <div class="grid flex">
    <div class="col-12 md:col-5 lg:col-4 p-1">
      <app-trivy-table #mainTable
                       [dataDtos]="dataDtos!"
                       [activeNamespaces]="activeNamespaces"
                       [trivyTableColumns]="mainTableColumns"
                       [trivyTableOptions]="mainTableOptions"
                       (selectedRowsChanged)="onMainTableSelectionChange($event)"
                       (refreshRequested)="onRefreshRequested($event)"
                       tableHeight="82vh"
                       [isLoading]="isMainTableLoading"
                       [trivyExpandTableOptions]="mainTableExpandTableOptions"
                       [trivyExpandTableFunction]="mainTableExpandCellOptions"
                       (trivyDetailsTableCallback)="onMainTableExpandCallback($event)" />
    </div>

    <div class="col-12 md:col-7 lg:col-8 p-1">
      <app-trivy-table class="row"
                       [dataDtos]="selectedDataDto?.details"
                       [activeNamespaces]="activeNamespaces"
                       [trivyTableColumns]="detailsTableColumns"
                       [trivyTableOptions]="detailsTableOptions"
                       tableHeight="82vh" />
    </div>
  </div>
</div>
