<h3>Settings</h3>

<div class="grid align-items-start md:align-items-stretch">
  <div class="col-12 md:col-6">
    <p-panel header="Table States" class="h-full">
      <p-table styleClass="p-datatable-sm text-sm" [tableStyle]="" [value]="clearTablesOptions">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 200px; min-width: 200px">Table Name</th>
            <th style="width: 60px; min-width: 60px">Sort</th>
            <th style="width: 60px; min-width: 60px">Filters</th>
            <th style="width: 60px; min-width: 60px">Widths</th>
            <th style="width: 60px; min-width: 60px">Order</th>
            <th style="width: 60px; min-width: 60px">All</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr>
            <td style="width: 200px; min-width: 200px">{{ item.description }}</td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.filters"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.sort"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.columnWidths"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.columnOrder"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.all"></p-checkbox>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="font-italic text-color-secondary text-sm text-center">
              No data: no saved table layouts found...
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="6">
              <p-button
                icon="pi pi-check-square"
                label="Clear Selected"
                size="small"
                text
                raised
                [disabled]="clearTablesOptions.length == 0"
                (onClick)="onClearTableStatesSelected($event)"
              />
              <p-button
                icon="pi pi-trash"
                label="Clear All"
                size="small"
                text
                raised
                [disabled]="clearTablesOptions.length == 0"
                (onClick)="onClearTableStatesAll($event)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template pTemplate="footer">
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to reset saved states of the tables. This will return the table to its default
          state.
        </p>
      </ng-template>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel header="CSV File Names" class="h-full">
      <div *ngFor="let file of csvFileNames" class="field">
        <label for="{{ file.dataKey }}" class="text-sm">{{ file.description }}</label>
        <input id="{{ file.dataKey }}" pInputText class="text-sm w-full" [(ngModel)]="file.savedCsvName" />
      </div>
      <div *ngIf="csvFileNames.length == 0">
        <p class="font-italic text-color-secondary text-sm">No data: no CSV files saved...</p>
      </div>
      <p-button
        icon="pi pi-file-check"
        label="Update Names"
        size="small"
        text
        raised
        [disabled]="csvFileNames.length == 0"
        (onClick)="onUpdateCsvFileNames($event)"
      />
      <ng-template pTemplate="footer">
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to change the default file names used from CSV exports from Detailed pages.
        </p>
      </ng-template>
    </p-panel>
  </div>
  <div class="col-12 md:col-6">
    <p-panel header="Trivy Reports States" class="h-full">
      <p-table styleClass="p-datatable-sm text-sm" [tableStyle]="" [value]="trivyReportConfigs">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 200px; min-width: 200px">Trivy Report</th>
            <th style="width: 60px; min-width: 60px">Backend</th>
            <th style="width: 60px; min-width: 60px">Frontend</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr>
            <td style="width: 200px; min-width: 200px">{{ item.name }}</td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [disabled]="true" [(ngModel)]="item.backendEnabled"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox
                binary="true"
                [disabled]="!item.backendEnabled"
                [(ngModel)]="item.frontendEnabled"
              ></p-checkbox>
            </td></tr
        ></ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="font-italic text-color-secondary text-sm text-center">
              No data: no Trivy Report Configs found...
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="6">
              <p-button
                icon="pi pi-check-square"
                label="Save"
                size="small"
                text
                raised
                (onClick)="onUpdateTrivyReportsStates($event)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template pTemplate="footer">
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to enable/disable app sections related to Trivy Reports. Only Frontend ones are
          editable.
        </p>
      </ng-template>
    </p-panel>
  </div>
</div>
