:host {
  ::ng-deep .p-inputswitch {
    height: 1rem;
    width: 2rem;

    &.p-inputswitch-checked {
      .p-inputswitch-slider::before {
        transform: translateX(.66rem);
      }
    }

    .p-inputswitch-slider::before {
      width: 0.8rem;
      height: 0.8rem;
      margin-top: -0.37rem;
    }
  }

  ::ng-deep p-inputswitch .p-inputswitch-slider {
    border-radius: 30px;
  }

  ::ng-deep p-inputswitch .p-inputswitch-slider::before {
    border-radius: 50%;
  }
}

.hide-on-small {
  display: none;

  @media (min-width: 768px) { // md breakpoint for PrimeFlex
    display: block;
  }
}
