<h3>Overview</h3>
<p-panel header="Vulnerability Reports" [toggleable]="true" *ngIf="vulnerabilityReportSumaryDto">
  <div class="row" style="height:70vh">
    <div class="grid">
      <div class="col-2 relative">
        <h4 class="text-center">Statistics</h4>
        <div class="flex row mb-5">
          <p-table [value]="othersSummaryForTable" styleClass="p-datatable-sm text-sm">
            <ng-template pTemplate="body" let-others>
              <tr>
                <td style="width: 50%; max-width: 50%;">{{ others.description }}</td>
                <td style="width: 25%; max-width: 25%;" class="text-right">{{ others.count }}</td>
                <td style="width: 25%; max-width: 25%;">
                  <p-button label="More..." [text]="true" size="small" (onClick)="onOthersMore(others)"
                            styleClass="text-sm float-right p-0" />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="flex row">
          <p-table [value]="severitiesSummaryForTable" styleClass="p-datatable-sm text-sm">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 50%; max-width: 50%;">Severity</th>
                <th style="width: 25%; max-width: 25%;" class="text-right">Count</th>
                <th style="width: 25%; max-width: 25%;" class="text-right">Fixable</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-severity>
              <tr>
                <td style="width: 50%; max-width: 50%;">{{ severity.severityName }}</td>
                <td style="width: 25%; max-width: 25%;" class="text-right">{{ severity.count }}</td>
                <td style="width: 25%; max-width: 25%;" class="text-right">{{ severity.fixable }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="flex row mb-5 text-sm justify-content-start -ml-1">
          <p-button label="More on Severities..." [text]="true" size="small" (onClick)="onVrsMore($event)" />
        </div>
        <div class="flex row text-sm justify-content-end align-items-center pb-5 absolute bottom-0 left-0.5">
          <p-inputSwitch inputId="distinctSwitch" [(ngModel)]="showDistinctValues"
                         (onChange)="onDistinctSwitch($event)" class="border-round"></p-inputSwitch>
          <label for="switch1" class="ml-2">Distinct values</label>
        </div>
      </div>
      <div class="col-10">
        <p-carousel [value]="slides"
                    [numVisible]="1"
                    [numScroll]="1"
                    [circular]="true"
                    [autoplayInterval]="10000"
                    [style]="{  }">
          <ng-template let-slide pTemplate="item">
            <div class="custom-slide">
              <ng-container [ngSwitch]="slide">
                <div *ngSwitchCase="'barChartNS'">
                  <div *ngIf="horizontalBarChartDataByNs">
                    <h4 style="text-align: center;">Vulnerabilities by Namespace</h4>
                    <p-chart type="bar"
                             [data]="horizontalBarChartDataByNs"
                             [options]="horizontalBarChartOption"
                             height="60vh" width="70vw" />
                  </div>
                </div>
                <div *ngSwitchCase="'barChartSeverity'">
                  <div *ngIf="horizontalBarChartDataByNs">
                    <h4 style="text-align: center;">Vulnerabilities by Severity</h4>
                    <p-chart type="bar"
                             [data]="horizontalBarChartDataBySeverity"
                             [options]="horizontalBarChartOption"
                             height="60vh" width="70vw" />
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</p-panel>

<p-dialog header="{{ moreOthersModalTitle }}"
          [modal]="true"
          [(visible)]="isMoreOthersModalVisible"
          closable="true"
          closeOnEscape="true"
          dismissableMask="true"
          resizable="true"
          [contentStyle]="{ 'height': '60vh'}"
          [style]="{ width: '70vw' }">

  <div class="row grid">
    <div class="col-4" style="height: 55vh">
      <p-table [value]="genericByNsSummaryDtos" [scrollable]="true" scrollHeight="flex"
               styleClass="p-datatable-sm text-sm">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50%; max-width: 50%;">Namespace</th>
            <th style="width: 25%; max-width: 25%;" class="text-right">Total</th>
            <th style="width: 25%; max-width: 25%;" class="text-right">Distinct</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-others>
          <tr [ngStyle]="getRowStyle(others)">
            <td style="width: 50%; max-width: 50%;">{{ others.namespaceName }}</td>
            <td style="width: 25%; max-width: 25%;" class="text-right">{{ others.totalCount }}</td>
            <td style="width: 25%; max-width: 25%;" class="text-right">{{ others.distinctCount }}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div class="col-8" style="height: 55vh">
      <p-table [value]="genericSummaryDtos" [scrollable]="true" scrollHeight="flex"
               styleClass="p-datatable-sm text-sm"
               sortMode="multiple">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="width: 70%; max-width: 70%;">Name</th>
            <th pSortableColumn="count" style="width: 30%; max-width: 30%;" class="text-right">Count</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-others>
          <tr>
            <td style="width: 70%; max-width: 70%;">{{ others.name }}</td>
            <td style="width: 30%; max-width: 30%;" class="text-right">{{ others.count }}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</p-dialog>

<p-dialog header="Vulnerability Reports Details"
          [modal]="true"
          [(visible)]="isMoreVRDetailsModalVisible"
          closable="true"
          closeOnEscape="true"
          dismissableMask="true"
          resizable="true"
          [contentStyle]="{ 'height': '60vh'}"
          [style]="{ width: '70vw' }">

  <div *ngIf="vulnerabilityReportSumaryDto?.severitiesByNsSummaryDtos" style="height: 55vh">
    <p-table [value]="vulnerabilityReportSumaryDto!.severitiesByNsSummaryDtos!.sort(sortOthersByNsSummary)"
             styleClass="p-datatable-sm text-sm">
      <ng-template pTemplate="header">
        <tr>
          <th rowspan="2">Namespace</th>
          <ng-container *ngFor="let id of severityHelperService.getSeverityIds()">
            <th colspan="2" class="text-center">{{severityHelperService.getCapitalizedName(id)}}</th>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let id of severityHelperService.getSeverityIds()">
            <th class="text-right">Count</th>
            <th class="text-right">Fixable</th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-severitiesByNsSummary>
        <tr [ngStyle]="getRowStyle(severitiesByNsSummary)">
          <td>{{severitiesByNsSummary.namespaceName}}</td>
          <ng-container *ngFor="let id of severityHelperService.getSeverityIds()">
            <td class="text-right">{{getSeveritiesDistinctCount(severitiesByNsSummary.details, id)}}</td>
            <td class="text-right">{{getSeveritiesFixableCount(severitiesByNsSummary.details, id)}}</td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>

  </div>

</p-dialog>
