<h3>Exposed Secret Reports Detailed</h3>
<app-trivy-table [dataDtos]="dataDtos"
                 [activeNamespaces]="activeNamespaces"
                 [exportColumns]="exportColumns"
                 [trivyTableColumns]="trivyTableColumns"
                 [trivyTableOptions]="trivyTableOptions"
                 (refreshRequested)="getTableDataDtos()"
                 tableHeight="82vh"
                 [isLoading]="isLoading"
                 csvStoragekey="Exposed Secret Reports"
                 csvFileName="Exposed Secret Reports" />
