<div class="grid flex">
  <div class="col-12">
    <p-button icon="pi pi-search-plus" label="Zoom In" size="small" [text]="true" (onClick)="onZoomIn($event)" />
    <p-button icon="pi pi-search-minus" label="Zoom Out" size="small" [text]="true" (onClick)="onZoomOut($event)" />
    <p-button icon="pi pi-refresh" label="Fit" size="small" [text]="true" (onClick)="onZoomFit($event)" />
    <p-button
      icon="pi pi-face-smile"
      label="Dive In Ubuntu"
      size="small"
      [text]="true"
      (onClick)="onDiveInUbuntu($event)"
    />
    <p-button
      icon="pi pi-face-smile"
      label="Dive In dotnet"
      size="small"
      [text]="true"
      (onClick)="onDiveInDotnet($event)"
    />
  </div>
  <div class="col-12 h-full">
    <div #graphContainer style="width: 100%; height: 80vh"></div>
  </div>
</div>
<div>
  <span [innerHTML]="testText"></span>
</div>
