<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!vulnerabilities?.length"><em>Loading...</em></p>

<ag-grid-angular
  *ngIf="vulnerabilities.length"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="vulnerabilities"
  [rowSelection]="rowSelection"
  class="ag-theme-quartz-auto-dark"
  style="height: 500px;"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>

<div style="margin: 10px 0;">
  <button (click)="onBtnExport()">Download CSV export file</button>
</div>
