.p-inputswitch {
  height: 1.2rem;
  width: 2rem;
}

.p-inputswitch-checked .p-inputswitch-slider::before {
  transform: translateX(0.66rem);
}

.p-inputswitch-slider::before {
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -0.37rem;
}

p-inputswitch .p-inputswitch-slider {
  border-radius: 30px;
}

p-inputswitch .p-inputswitch-slider::before {
  border-radius: 50%;
}
