<p-menubar>
  <ng-template pTemplate="start">
    <div class="flex align-items-center gap-3">
      <p-button icon="pi pi-bars" [text]="true" [raised]="true" (click)="openSidebar()" />
      <img src="assets/logo_AL.ico" alt="logo" height="45" (click)="router.navigate(['/'])">
      <h3>Trivy Dashboard</h3>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3">
      <div *ngIf="alertsCount" class="p-overlay-badge">
        <p-button label="" icon="pi pi-bell" [rounded]="true" [text]="true" [raised]="true" (click)="onAlertsClick()" />
        <span class="p-badge p-badge-danger text-xs">{{ alertsCount }}</span>
      </div>
      <p-button *ngIf="isDarkMode" icon="pi pi-sun" [rounded]="true" [text]="true" [raised]="true" (click)="switchLightDarkMode()"></p-button>
      <p-button *ngIf="!isDarkMode" icon="pi pi-moon" [rounded]="true" [text]="true" [raised]="true" (click)="switchLightDarkMode()"></p-button>
    </div>
  </ng-template>
</p-menubar>
<p-sidebar [(visible)]="isSidebarVisible" [baseZIndex]="10000" [showCloseIcon]="false">
  <h4>Menu</h4>
  <p-panelMenu [model]="items" styleClass="w-full">
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center cursor-pointer text-color px-3 py-2">
        <fa-icon *ngIf="item.faIcon" [icon]="item.faIcon" icon=""></fa-icon>
        <span class="ml-2">{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
      </a>
    </ng-template>
  </p-panelMenu>
</p-sidebar>
