<div #mermaid
     class="flex align-items-stretch justify-content-center overflow-auto"
     style="width: 1400px; height: 700px; border: 1px solid #ddd; padding: 10px;">
  <!--<div [innerHTML]="mermaidGraphDefinition">
  </div>-->
  <div id="mermaid" class="mermaid flex-grow-1 justify-content-center">
    graph TD;
    A([<span class="mnodel1">A - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->B([<span class="mnodel1">B - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    A([<span class="mnodel1">A - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->C([<span class="mnodel1">C - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    B([<span class="mnodel1">B - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->D([<span class="mnodel1">D - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    C([<span class="mnodel1">C - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->D([<span class="mnodel1">D - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    D([<span class="mnodel1">D - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->E([<span class="mnodel1">E - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    E([<span class="mnodel1">E - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->F([<span class="mnodel1">F - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    F([<span class="mnodel1">F - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->G([<span class="mnodel1">G - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    A([<span class="mnodel1">A - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->G([<span class="mnodel1">G - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
    G([<span class="mnodel1">G - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>])-->H([<span class="mnodel1">H - Lorem ipsum dolor</span><br /><span class="mnodel2">sit amet</span>]);
  </div>
</div>

<div style="display: flex;align-items: center;">
  <button (click)="onZoomInClick()">
    Zoom in
  </button>
  <button (click)="onZoomOutClick()">
    Zoom out
  </button>
</div>
<div>
  <span>{{ mermaidGraphDefinition }}</span>
</div>
