<div #mermaid
     class="flex align-items-stretch justify-content-center overflow-auto"
     style="width: 1400px; height: 700px; border: 1px solid #ddd; padding: 10px;">
<!--<div #mermaid>-->
  <div id="mermaid" class="mermaid flex-grow-1 justify-content-center">
    graph TD;
    A([<span style="font-size: 12px; display: block; margin-bottom: -30px; ">Line 1 - Lorem Ipsum</span><br /><span style="font-size: 10px;">Line 2 - sin dolor</span>])-->B([Alphabet]);
    A([<span style="font-size: 12px; display: block; margin-bottom: -30px; ">Line 1 - Lorem Ipsum</span><br /><span style="font-size: 10px;">Line 2 - sin dolor</span>])-->C([Alphabet]);
    B([Alphabet])-->D([Alphabet]);
    C([Alphabet])-->D([Alphabet]);
    D([Alphabet])-->E([Alphabet]);
    E([Alphabet])-->F([Alphabet]);
    F([Alphabet])-->G([Alphabet]);
    A([<span style="font-size: 12px; display: block; margin-bottom: -30px; ">Line 1 - Lorem Ipsum</span><br /><span style="font-size: 10px;">Line 2 - sin dolor</span>])-->G([Alphabet]);
    G([Alphabet])-->H([Alphabet]);
  </div>
</div>

<div style="display: flex;align-items: center;">
  <button (click)="onZoomInClick()">
    Zoom in
  </button>
  <button (click)="onZoomOutClick()">
    Zoom out
  </button>
</div>
